{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Fluxocaixa edit</h1>



    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nova Entrada</h4>
    </div>
    <div class="modal-body">


    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('fluxocaixa') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>


    </div>
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>
{% endblock %}
